*{
    margin: 0;
    padding: 0;
    font-family: "Montserrat", sans-serif;
    /* font-optical-sizing: auto;
    font-style: normal; */
    /* color: black;  */
    /* background-color: #000; */
    overflow: hidden;
 }

 body{
  background-color: #000;
 }
 .main{
    height: 100vh;
    display: flex;
 }
 /* nav-bar */

 .header{
   height: 64px;
   background-color: #000;
   position: fixed;
   top: 0;
   width: 100%;
   display: flex;
   flex-direction: row;
   align-items: center;
   padding-left: 2rem;
   padding-right: 2rem;
 }

 .nav-logo{
   background-image: url(assets/logoCopy.png);
   background-size: cover;
   height: 2.5rem;
   width: 2.5rem;
   margin-right: 26rem;
 }

 .nav-searchBar{
  display: flex;
  opacity: 0.8;
  margin-right: 5rem;
 }

 .s-home{
  height: 3rem;
  width: 3rem;
  background-color: #1f1f1f;
  border-radius: 50%;
  display: flex;
  align-self: center;
  margin-right: 0.35rem ;
 }

 .search-input {
   display: flex;
   height: 3rem;
   border-radius: 2.5rem;
   background-color: #1f1f1f;
   align-items: center;
 }

 .search-input input{
  width: 21rem;
  border: none;
  background-color: #1f1f1f;
  color: white;
  font-size: 0.95rem;
 }

 .search-input input::placeholder{
  color: white;
  opacity: 0.8;
 }

 .s-icon i{
  width: 2rem;
  margin: 0.8rem;
  font-size: 1.30rem;
  color: white;
  opacity: 0.8;
  padding-top: 0.1rem ;
 }

 .s-home i{
  opacity: 1;
 }

 .s-browse i{
  height: 1.5rem;
  width: 1.5rem;
  border-left: 1px solid white;
  border-radius: 0.8;
  padding: 0.2rem;
  padding-left: 0.5rem;
  padding-top: 0.5rem;
 }


 .nav-options{
   display: flex;
   width: 26.5rem;
   align-items: center;
 }

 .n-options-btn{
   width: 8.5rem;
   height: 2rem;
   color: black;
   background-color: white;
   border-radius: 4rem;
   font-size: 0.8rem;
   font-weight: 700;
   display: flex;
   align-items: center;
   justify-content: center;
   border: none;
 }
  
 .part2{
  background-color : black;
  color: white;
  margin-left: 0.5rem;
  margin-right: 2rem;
  opacity: 0.8;
 }

 .part2 i{
  color: white;
  font-size: 1rem;
  padding-right: 0.5rem;
 }

 .n-options-icon i{
  color: white;
  font-size: 1.4rem;
  margin-right: 1rem;
  margin-top: 0.3rem;
  opacity: 0.8;
 }
 
 .n-options-profile{
  height: 3rem;
  width: 3rem;
  background-color: #1f1f1f;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center; 
  position: fixed;
  right: 1rem;
 }

 .n-profile{
   height: 2rem;
   width: 2rem;
   background-color: rgba(255, 192, 245, 0.807);
   color: rgb(107, 6, 135);
   border-radius: 50%;
   text-align: center;
   display: flex;
   justify-content: center;
   align-items: center; 
   font-weight: 700;
 }
 
/*  */

 .sidebar{
    background-color: #121111;
    width: 26rem;
    height: 36.3rem ;
    border-radius: 1rem;
    color: white;
    margin-top: 70px;
    opacity: 0.9;
    margin-left: 0.3rem;
    margin-right: 0.3rem;
  }
 
 .side-library{
  /* padding: 16px 12px 8px; */
  margin-left: 0.8rem;
  height: 4.5rem;
  display: flex;
  font-size: 0.5rem;
  justify-content: space-between;
  margin-bottom: 10px;
 }

.side-library h1{
  color: white;
  padding-top: 20px;
  padding-left: 12px;
}

.sl-btn{
   width: 6rem;
   height: 2.2rem;
   background-color:#1f1f1f;
   border-radius: 4rem;
   font-size: 0.8rem;
   font-weight: 700;
   display: flex;
   align-items: center;
   justify-content: center;
   border: none;
   margin-top: 15px;
   margin-right: 1.5rem;
   /* margin-top: 0; */
   /* opacity: 0.5; */
  }

.sl-btn span {
  color: white;
  margin-left: 1rem;
  /* opacity: 1; */
}

.sl-btn i {
  color: white;
  font-size: 1.2rem;
}

.sl-card{
  padding-left: 25px;
  height: 133px;
  background-color: #1f1f1f;
  margin: 8px ;
  border-radius: 1rem;
  margin-bottom: 25px;
}

.sl-card-content{
  margin-top: 10px;
}
.sl-card h1  {
  color: white;
  font-size: 1rem;
  font-weight: 600;
  margin-top: 18px;
}

.sl-card p{
  color: #fff;
  font-size: 14px;
}
.sl-card button{
   width: auto;
   padding-left: 18px;
   padding-right: 18px;
   margin-top: 15px;
  }


/*  */
 .main-content{
    background-color: #1f1f1f;
    color: #fff;
    flex: 1;
    overflow: auto;
    border-radius: 1rem;
    margin-top: 70px;
    padding: 2rem 2rem;
    margin-bottom: 4.6rem;
    /* margin-right: 2rem */
 }


 .m-contentHead{
  display: flex;
  justify-content: space-between;
 }

 .m-contentHead span{
  margin-top: 0.7rem;
  font-weight: 600;
 }

 .m-cards{
  display: flex;
  gap: 0.8rem; 
  margin-bottom: 2rem;
}

 .card{
  height: 220px;
  width: 170px;
  font-size: 16px;
  padding: 1rem;
  display: flex;
  flex-direction: column;
  /* align-items: center; */
  justify-content: center;
  /* background-color: #121111; */
  margin-top: 1rem;
  border-radius: 0.8rem;
 }

 .card-img{
  background-image: url(assets/card1img.jpeg);
  background-size: cover;
  height: 165px;
  width: 165px;
  margin-bottom: 0.5rem;
  border-radius: 0.5rem;
  /* margin-top: 0%; */
 }

 .card-info{
  font-size: 14px;
  opacity: 0.8;
  margin-top: 0.5rem;
 }

 /*  */

 .music-player{
    /* background-color: rgba(251, 170, 251, 0.847); */
    position: fixed;
    bottom: 0;
    width: 100%;
    height: 4.5rem;
    display: flex;
    /* justify-content: center; */
    color: #fff;   /* display: grid; */
    /* grid-row: 3; */
 }

 .vacant{
  width: 33.33%;
 }

 .player{
  width: 33.34%;
  /* display: flex; */
  /* flex-direction: column; */
  /* align-items: center; */
 }

 .player-input input{
  width: 80%;
  height: 0.15rem;
  margin: 0 0.35rem ;
  
  /* padding-left: 0.5rem; */
 }

 .player-input{
  padding-left: 0.9rem;
  padding-right: 0.9rem;
  display: flex;
  align-items: center;
  opacity: 0.7;
 }

 .p-btn{
  height: 2rem;
  border: none;
  background-color: #000;
 }
 
 .p-btn img{
  height: 1rem;
 }

 .player-icons{
  width: 40%;
  display: flex;
  justify-content: space-evenly;
  margin: 0 10rem 0 10rem;
  opacity: 0.7;
  margin-top: 0.8rem; 
}

.pause img{
  height: 1.8rem ;
}

.stamp{
  font-size: 12px;
  padding-left: 0.35rem;
}

.player-setting{
   /* height: 38px; */
  width: 33.33%;
  margin-right: 2rem;
  /* display: flex; */
  /* align-items: center; */
  /* justify-content: center; */
}

.settings{
  /* background-color: rgb(197, 167, 128); */
  display: flex;
  align-items: center;
  height: 38px;
  /* width: 33.33%; */
  justify-content: end;
  margin-top: 1.1rem;
}

.setting-opt i{
  font-size: 0.9rem;
  margin-left: 0.7rem;
  opacity: 0.7;
}

.setting-opt img{
  height: 0.9rem;
  opacity: 0.7;
}

.player-setting input{
  height: 0.2rem;
  margin-left: 0.7rem;
  width: 6.5rem;

}